/* Daniel Biondolillo */

body {
  background-color: #222831;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: larger;
}

.navbar {
  background-color: #ACADAC;
  margin: 8px;
}

/* Change nav link background color on hover */
.navbar-nav .nav-link {
  border-radius: 20px;
}

.navbar-nav .nav-link:hover {
  background-color: rgb(165, 233, 253);
}

.product-container {
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 20px;
}

.img-container {
  text-align: center;
}

.product-img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 18px;
}

.table {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

.btn-group button {
  max-width: fit-content;
  border-radius: 20px;
  margin: 5px;
  padding: 10px 20px;
}

/* Change opacity on button hover */
.btn-group button:hover {
  opacity: 0.7;
}

.footer {
  display: block;
  bottom: 0;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}