For Sprint 3:
presteps: setup DB

- Login (Done)

- Signup (Done with Login right now)

- Inventory page with add item button and delete item button (SELECT, INSERT, UPDATE queries)

- Customer view page where they see all products (SEELCT query)

Extension:
- Home Page
- Detail page with analytics

Things to keep in mind:

- code for mobile first and then web (responsive)
- ANDI and valid html both are good for all pages