        (IMP)- flip/create some functions anonymous
        (IMP)- Use ajax to call a backend command(?=getprofileInfo) which returns as a json and then manipulates the dom on profile.php to display the user information
        - UI
        - andi and validation

        - go through reqs again to make sure everything is good
        - submit the project


Side notes: 
//Make the UI of the app better in general
//ensure ANDI & validation compliance stuff
//ensure to put comments at the end
//ensure mobile view